/*header, footer, asideRedes grid area para todas las section*/
header{
    grid-area: header;

}
footer{
    grid-area: footer;
}
.asideRedes{
    grid-area: asideRedes;
}


/*mobile first*/

/*GRILLAS */

/*GRILLA INDEX*/

.gridContainerIndex{
    display: grid;
    grid-template-areas: 
    "header      "
    "contIndex   "
    "sectionIndex"
    "footer      ";
    height: 100vh;
    width: 100%;
    @media(min-width:$MQD){
        grid-template-areas: 
        "header      header      "
        "contIndex   contIndex   "
        "asideRedes  sectionIndex"
        "footer      footer      ";
        grid-template-rows: 135px 700px 1600px auto;
        grid-template-columns: 180px 4fr ; 
    }
    @media(min-width:1105px){
        grid-template-rows: 135px 700px 1200px auto;

    }
    @media(min-width: $MQDXL){
        grid-template-columns: 180px auto;
        grid-template-rows: 135px 900px 900px auto;
    }
}

.contIndex{
    grid-area: contIndex;


}
.sectionIndex{
    grid-area: sectionIndex;

}

/*----------------------------------------------------*/

/*GRILLA HARDWARE*/
.gridContainerHardware{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "contHardware"
    "footer";
    gap: 5px;
    @media(min-width:$MQD){
        grid-template-areas: 
        "header header"
        "asideRedes contHardware"
        "footer footer";
        grid-template-rows: 135px 1fr auto;
        grid-template-columns: 180px auto;
    }
}

.contHardware{
    grid-area: contHardware;

}
/*----------------------------------------------------*/

/*grilla - pc armadas*/

.gridContainerPcArmadas{
    height: 100vh;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-areas:
    "header"
    "contPc"
    "footer";

    @media(min-width: $MQD){
        grid-template-areas:
        "header header"
        "asideRedes contPc"
        "footer footer";
        grid-template-columns: 180px auto;
        grid-template-rows: 135px 2fr auto;
    }
}
.contPc{
    grid-area: contPc;
    margin-bottom:100px;
}


/*----------------------------------------------------*/

/*grilla - nosotros*/
.gridContainerNosotros{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header      "
    "contNosotros"
    "footer      ";
    gap: 5px;
    @media(min-width:$MQD){
        display: grid;
        grid-template-areas: 
        "header        header"
        "asideRedes contNosotros"
        "footer        footer";
        grid-template-columns: 180px auto;
        grid-template-rows: 135px 2fr auto;
    }
}

.contNosotros{
    grid-area: contNosotros;
}

/*----------------------------------------------------*/

/*grilla - contacto*/

.gridContainerContacto{
    width: 100%;
    height: 100vh;
    gap: 5px;
    display: grid;
    grid-template-areas: 
    "header"
    "contContacto"
    "footer";
    @media (min-width:$MQD) {
        grid-template-areas: 
        "header header"
        "asideRedes contContacto"
        "footer footer";
        grid-template-columns: 160px auto;
        grid-template-rows: 135px 1500px auto;
    }
    @media(min-width: $MQDXL){
        grid-template-rows: 135px 1800px auto;
    }
}

.contContacto{
    grid-area: contContacto;
    margin-bottom:100px;
}
/*----------------------------------------------------*/

/*grilla - preguntas frecuentes*/

.gridContainerPreguntasFrecuentes{
    display: grid;
    grid-template-areas: 
    "header     "
    "contPregFrec"
    "formPregFrec"
    "footer     ";
    width: 100%;
    height: 100vh;
    gap: 5px;
    @media(min-width: $MQD){
        grid-template-areas: 
        "header     header      "
        "asideRedes contPregFrec"
        "asideRedes formPregFrec"
        "footer     footer      ";
        grid-template-columns: 180px auto;
        grid-template-rows: 135px 600px 700px auto;
    }
    @media(min-width: $MQDXL){
        grid-template-areas: 
        "header     header      "
        "asideRedes contPregFrec"
        "asideRedes formPregFrec"
        "footer     footer      ";
        grid-template-columns: 180px auto;
    }
}

.contPregFrec{
    grid-area: contPregFrec;
}
.formPregFrec{
    grid-area: formPregFrec;
}

/*----------------------------------------------------*/