header{
    position: fixed;
    width: 100%;
    z-index: 20;
}
.navSearch{
    background-color: $negroPaleta;
    justify-content: center;

}

.aLogo{
    color: $blancoPaleta;
    font-size: 35px;
    text-decoration: none;
    margin: auto;

    

}
.aLogo:hover{
    cursor: pointer;
    color: $blancoPaleta;
}
.estiloLogo{
    color: $rojitoPaleta;
}

.barraSearchStyle{
    display: none;
}

.botonBuscar{
    color: $blancoPaleta;
    text-transform: capitalize;
    border: 1px solid $rojitoPaleta;
}
.botonBuscar:hover{
    background-color: $rojitoPaleta;
    border: 1px solid $rojitoPaleta;
}
/*clases por default de bootstrap para modificar y customizar*/
/*controla bkc y borde*/
.navStyle{
    background-color: $azulPaleta;
    border-bottom: 6px solid $rojitoPaleta;
}
/*controla el flexbox*/
.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/*da padding lateral cuando es responsive*/
#navbarSupportedContent{
    padding-left: 25px;
    padding-top: 10px;
}
/*da margin top-bottom tanto en responsive como desktop*/
.nav-item{
    margin: 5px 0;
}
/*ambas clases dropdown son para personalizar el drop*/
.dropdown-menu{
    background-color: $negroPaleta;
    width:200px;
}
.dropdown-item{
    color: $blancoPaleta;
}
/*mis clases para el nav bar de bootstrap*/
.navA{
    text-decoration: none;
    color: $blancoPaleta;
    text-transform: uppercase;
    font-family: $roboto;
    font-size: 15px;
}

.navA:hover {
    color: $rojitoPaleta;
}

.barraSearchStyle2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.botonBuscar{
    color: $blancoPaleta;
    text-transform: capitalize;
    border: 1px solid $rojitoPaleta;
}
.botonBuscar:hover{
    background-color: $rojitoPaleta;
    border: 1px solid $rojitoPaleta;
}
@media(min-width:$MQT){
    .aLogo{
        margin: 0;
    }

    .barraSearchStyle{
        display: flex;
        flex-direction: row;
    }
    .navbar-nav{
        flex-direction: column;
    }
    .barraSearchStyle2{
        display: none;
    }
}